body {
    font-family: georgia,
    times,
    serif;
    font-size: 1.1em;
    padding: .75em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
}

p {
    line-height: 1.7;
}

section {
    margin-bottom: 4em;
}

.container {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 420px) {
    .container {
        margin-top: 2em;
    }
}

.about img {
    display: block;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.about h1 {
    margin-top: 0;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5em;
}

.work-link {
    position: relative;
    display: block;
    min-height: 350px;
}
.work-link .cover {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}
.work-link .text {
    border-radius: 3px;
    display: none;
    color: #fff;
    z-index: 2;
}
.work-link:hover .text,
.work-link:focus .text,
.work-link:active .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, .6);
}

.work-link .text p {
    margin: 0;
    max-width: 80%;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, .4);
}

.contact li {
    display: flex;
    align-items: center;
    margin-bottom: .75em;
}

.contact span {
    margin-left: .5em;
    margin-right: .3em;
}

.contact img {
    display: inline-block;
    max-width: .75em;
    opacity: .5;
}

.contact li:hover img {
    opacity: .8;
}
